.errorInput {
    border: 1px solid red;
    color: #bf1650;
}

.login_page{
    height: 100vh;
}

.title{
    color: #1E2115;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    flex-direction: column;

}

.form{
    display: flex;
    flex-direction: column;

}

.label_text{
    margin-top: 10px;
    color: #1E2115;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input_form{
    padding: 10px;
    margin-top: 10px;
    width: 411px;
    height: 50px;
    border-radius: 8px;
    border: 2px solid #FFF;
    background: #E4E2DF;
}

.btn_align{
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
}

.forgot_password_text{
    margin-top: 18px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.user_icon{
    background-image: url('@/assets/icons/user_icon.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    padding-right: 50px;
}

.email_icon{
    background-image: url('@/assets/icons/email_icon.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    padding-right: 50px;
}


.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.icon {
    font-size: 24px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: black;
}

.error {
    color: #bf1650;
    margin: 0;
}

.error::before {
    display: inline;
    content: "⚠ ";
}


@media (max-width: 768px) {
    .backgroundImage {
        background-size: cover;
        background-position: top center;
    }

    .title {
        font-size: 24px;
        text-align: center;
    }

    .container {
        padding: 20px;
    }

    .form {
        width: 100%;
    }

    .icon {
        right: 35px;
        bottom: 16px;
    }

    .input_form {
        width: calc(100% - 20px);
    }

    .btn_align {

        gap: 10px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }


    .forgot_password_text {
        font-size: 14px;
        text-align: center;
    }
}
