Flask==3.0.3
Flask-Cors==4.0.1
pymongo==4.7.1
pytest==8.2.0
coinbase-advanced-py==1.3.0
python-dotenv==1.0.1
gunicorn==22.0.0 # This is for render

# This is for the chatbot
duckduckgo-search
bs4
undetected-chromedriver
langchain
langchain-google-vertexai
websocket-client
pandas
yfinance
plotly
streamlit
textblob
requests
newspaper3k