html {
    box-sizing: border-box;
}

*,
*::after,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


body {
    padding: 0;
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Source Code Pro', sans-serif;
}

body{
    background-color: #BEBCAD;
    /*background-image: url('@/assets/background_photo.png');*/
    /*height: 100vh;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}
